header#topHeader {
  padding: 80px 0 30px 0;
  width: 100%;
  background-color: #faa700;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}

#avatar {
  position: relative;
  height: 256px;
  top: 1em;
}

#avatar img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#userName {
  text-align: center;
}

/* Tablet Styles */
@media (min-width: 768px) {
  header#topHeader {
    width: 300px;
    height: 300px;
    margin: 135px 35px;
    padding: 0;
  }

  #avatar {
    height: 150px;
  }

  #avatar img {
    height: 90%;
  }
}
