nav {
  font-family: 'Bungee', cursive;
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;
  z-index: 1;
  color: #ffffff;
  padding: 1.5em;
}

button.tweet-button {
  background: none;
  transform: translate(0%, -20%);
  color: #ffffff;
  padding: 1em;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  float: right;
  border: none;
}

button.tweet-button:active {
  outline: none;
}

.arrowBounce .material-icons {
  padding: .5em;
  transform: rotate(90deg);
  color: #F7590A;
}

button.tweet-button:hover .arrowBounce .material-icons {
  animation: bounce .5s infinite;
}
@keyframes bounce {
  from {
    transform: translateY(0) rotate(90deg);
  }
  to {
    transform: translateY(-10px) rotate(90deg) ;
  }
}

button.tweet-button:hover {
  cursor: pointer;
}

/* Tablet Styles */
@media (min-width: 768px) {
  nav {
    background-color: #4056A1;
  }
}



