section.new-tweet{
  padding: 1.5em;
}

.validationError {
  background: #363636;
  padding: 1em 1.5em;
  color: #ffffff;
  display: flex;
}
.validationError .material-icons {
  color: #FF5733;
  padding: 0 0.5em 0 0;
  font-size: 2em;
}
.validationError p {
  font-size: 25px;
  margin: 0.3em;
}

h2{
  margin: 0 0 0.5em 0;
}

textarea {
  background: none;
  width: 100%;
  border: none;
  border-bottom: 0.2em solid #545149;
  margin-bottom: 0.5em;
  resize: none;
  height: 2em;
  outline: 0px;
}

::placeholder {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
}

input {
  background: #4056A1;
  font-family: 'Bungee', cursive;
  color: #ffffff;
  padding: 0.25em;
  border-radius: 0.25em;
  outline: 0;
}

.counter {
  float: right;
  font-family: 'Bungee', cursive;
}

.error {
  color: #FF5733;
}

.errorHighlight{
  box-shadow: 0 0 5px rgb(238, 91, 81);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgb(238, 91, 81);
}