section.new-tweet{
  padding: 1.5em;
}

h2{
  margin: 0 0 0.5em 0;
}

textarea {
  background: none;
  width: 100%;
  border: none;
  border-bottom: 0.2em solid #545149;
  margin-bottom: 0.5em;
  resize: none;
  height: 2em;
  outline:0px;
}

::placeholder {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
}

input {
  background: #4056A1;
  font-family: 'Bungee', cursive;
  color: #ffffff;
  padding: 0.25em;
  border-radius: 0.25em;
  outline:0px;
}

.counter {
  float: right;
  font-family: 'Bungee', cursive;
}

.error{
  color: #FF5733;
}
