section.new-tweet{
  padding: 1.5em;
  display: none;
}

.validationError {
  background: #363636;
  color: #ffffff;
  border-radius: 10px;
  position: relative;
}

.validationError:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 40px;
  color: #363636;
  border-top: 25px solid #363636;
  border-top-color: inherit;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}

.validationError .material-icons {
  color: #FF5733;
  padding: 1%;
}

.validationError p {
  padding: 2%;
}

h2{
  margin: 0 0 0.5em 0;
}

textarea {
  background: none;
  width: 100%;
  border: none;
  border-bottom: 0.2em solid #545149;
  margin-bottom: 0.5em;
  resize: none;
  height: 2em;
  outline: 0px;
}

::placeholder {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
}

input {
  background: #4056A1;
  font-family: "Bungee", cursive;
  color: #ffffff;
  padding: 0.25em;
  border-radius: 0.25em;
  outline: 0;
}

.counter {
  float: right;
  font-family: "Bungee", cursive;
}

.error {
  color: #FF5733;
}

.errorHighlight{
  box-shadow: 0 0 5px rgb(238, 91, 81);
  padding: 6px;
}

/* Tablet Styles */
@media (min-width: 768px) {
  section.new-tweet {
    padding: 12% 5% 0;
  }
}